@import 'normalize';

@import 'bourbon/bourbon';
@import 'neat/neat';

//$visual-grid: true !global;
@import 'neat/neat-helpers';
@import 'neat/neat';

$grid-columns: 18 !global;

.wrapper { 
    @include outer-container;
}

.content {
    @include span-columns(9);
    @include shift (2);
    @include omega();
}

p {
    text-align: left; 
    font: normal 19px/26px  Crimson, "Times New Roman", times, serif false;
//    -webkit-font-smoothing: antialiased;
    text-indent: 30px;
}

.content > p {
    text-indent: 30px;
}

h1 {
    font: 900 42px/60px "Lusitana", Crimson, times, serif;
    text-align: center;
}

h2 {
    font: italic 100 25px/30px "Crimson";
}
